body{background-attachment:gray;
     font-size: 16px;
  text-align: center;}

  .negrito{color:red;
}

body{font-size: 20px;}
.negrito {color: red;}
.principal{text-align: center; background-color: gray;}
.imagem{width: 100%;}
.imagem_beneficio{width: 100%;}